- if @comments.present?
  - @comments.each do |comment|
    .row.posts
      .col-md-6.mb-3
        .posts-content
          %p= comment.created_at.strftime("%Y-%m-%d %H:%M") 
          %p= comment.title