%footer#footer
  .footer-content
    .container
      .row
        .col-md-3.col-sm-4.col-md-push-3
          = link_to "PCPART", root_path
          %smail.d-block.mb-3 © 2020
        .col-md-3.col-sm-4.col-md-push-3
          %ul
            %li= link_to 'トップページ', root_path
            
        