.header
  .header_title
    = link_to "PCPART", root_path
  .menu
    .nav-content
      %span
      %span
      %span
    %ul.nav
      %li.home
        = link_to root_path, class: "link-btn" do
          %i.fas.fa-home
          %span ホーム
        -# %li
        -#   = link_to root_path, class: "link-btn" do
        -#     %i.far.fa-paper-plane
        -#     %span 投稿
