%main.main
  %section.jumbotron.text-center
    .container
    %h1.jumbotron-heading PCPARTへようこそ！
    %p.lead
      PCPARTは普段つかっているPCパーツや購入したPCパーツを投稿して紹介し合うサイトです。
    .text-btn
    - if user_signed_in?
      = link_to '', root_path
    - else
      = link_to 'ゲストログインでログインする', users_guest_sign_in_path, method: :post, class: "btn btn-primary my-2"
  = render 'posts/posts'