.container
  .row.p-3
    %h2 投稿詳細情報
    .col-mb-4
      .post_detail
        .panel.panel-default
          .panel-heading.text-center
            = image_tag @posts.image.url, class: "card-img-top"
    .col-md-8
    