.navbar.navbar-expand-lg.navbar-light{
  background-color: beige;
  display: flex;
  z-index: 1;
  border-bottom: 2px solid black;
  .nav-link {
    margin-right: 10px;
    color: black;
    text-decoration: none;
  }
  // 検索ボタン
  .search-bar{
    .container-2{
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      margin:0 auto;
    }
    .container-2 input#search{
      margin-right: 10px;
      text-align: center;
      border-radius: 35px;
      outline: none;
    }
    .search-btn{
      position: absolute;
      left: 0;
      border: none;
      background: none;
      font-size: 20px;
      outline: 0;
      cursor: pointer;
    }
  }
}

