* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Noto Sans Japanese',
  'Source Sans Pro', Helvetica , Arial,
  '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  a, input{
    outline: none;
  }
}
.header{
  background-image:asset-url("headerbord.jpg");
  height: 50px;
  width: 100%;
  background-color: beige;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 2px solid black;
  a {
    color: black;
    text-decoration: none;
  }
  &_title {
    line-height: 50px;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
  }
  @media screen and (min-width:300px) {
    
  }
}  