* {
  box-sizing: border-box;
}

/* body */
body {
  padding: 0;
  margin: 0;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Noto Sans Japanese',
  'Source Sans Pro', Helvetica , Arial,
  '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  a, input{
    outline: none;
  }
}
