* {
  box-sizing: border-box;
}
/* body */
body {
  padding: 0;
  margin: 0;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Noto Sans Japanese',
  'Source Sans Pro', Helvetica , Arial,
  '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  a, input{
    outline: none;
  }
}
main{
  .jumbotron.text-center{
    background-color: white;
    border-bottom: 1px solid black;
  }
  .jumbotron-heading{
    font-weight: 300;
    font-size: 2.5rem;
  }
  h1{
    margin-bottom: 10px;
  }
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.album.py-5{
  .newitems{
    text-align: center;
    font-size: 30px;
  }
  .border.border-white.mt-4{
    text-align: right;
  }
}