.row.p-3{
  h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
    width: 1170px;
    height: 33px;
  }
  .panel.panel-default{
    border-color: #ddd;
  }
}
.col-md-8{
  float: left;
  border: 1px solid black;
  h4{
    margin: 15px 0;
    font-size: 18px;
  }
  .buttons.text-coenter{
    text-align: center;
    .btn.btn-outline-warning{
      background-color: white;
    }
  }
}
.card-body{
  .card-title{
    font-size: 30px;
  }
}
.p-3.border{
  border: 1px solid black !important;
  .mb-3{
    text-align: center;
    font-size: 30px;
  }
}
.row.posts{
  .posts-content{
    margin-top: 10px;
  }
}