@import "bootstrap";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./posts";
@import "./reset";
@import "./color";
@import "./users";
@import "./new";
@import "./show";
@import "./comment";
@import "./header";
@import "./footer";
@import "./search";
@import "./categoryshow";
@import "./policy";
@import "./privacypolicy";
@import "./comment.edit";
@import "./flash_messages";
@import "./modal";

.breadcrumbs{
  font-size: 20px;
}

.content{
  min-height: calc(100vh - 70px);
}

.container{
  .col-lg-3.col-md-6{
    .card{
      margin-bottom: 10px;
    }
  }
}

.card-img-top{
  height: 250px;
}