$fuschia: #777;
$fff: #fff;
$baby-blue: #f8faff;
$pstel: #ff3333;
$gainsboro: gainsboro;
$whitesmoke: whitesmoke;
$fff6e6: #fff6e6;
$black: black;
$sandybrown: sandybrown;
$lemonchiffon: lemonchiffon;
$ffbf7f: #ffbf7f;